<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 style="cursor: pointer" class="title" routerLink="/challenges">
        <strong>HACK <i class="fa fa-code"></i> IDEAS</strong>
      </h3>
    </div>

    <div class="navbar-default">
      <div class="nav navbar-nav navbar-right">
        <button
          *ngIf="userAction !== ''"
          class="btn btn-danger"
          (click)="onLogout()"
        >
          {{ userAction }}
        </button>
      </div>
    </div>
  </div>
</nav>
