<div class="container pnf-container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-md-offset-3">
      <p class="pnf-text">Uh-oh! Page not found!</p>
      <p class="pnf-description">
        Looks like you've gotten lost! Let's drop you off at the right place.
      </p>
      <div>
        <button
          routerLink="/login"
          type="submit"
          class="btn btn-primary app-primary-btn redirect-btn"
        >
          <strong>YES, PLEASE!</strong>
        </button>
      </div>
    </div>
  </div>
</div>
