<div *ngIf="error" class="row">
  <div class="col-xs-12 col-md-6">
    <div class="alert alert-danger">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
<div *ngIf="!error" class="row justify-content-between challenges">
  <div class="col-md-6 col-xs-12">
    <button
      class="btn btn-primary app-primary-btn"
      [routerLink]="['/challenges', 'new']"
    >
      <strong>Add Challenge</strong>
    </button>
  </div>
  <div class="col-md-6 col-xs-12" style="text-align: right">
    <div class="btn-group"><strong>SORT :</strong>&nbsp;&nbsp;</div>
    <div class="btn-group" role="group">
      <button
        #dateSort
        type="button"
        class="btn btn-primary date-sort"
        (click)="sortByDate()"
      >
        <strong>By creation date</strong>
      </button>
      <button
        #upvoteSort
        type="button"
        class="btn btn-primary upvote-sort"
        (click)="sortByUpvotes()"
      >
        <strong>By upvotes</strong>
      </button>
    </div>
  </div>
</div>
<hr *ngIf="!error" />
<div *ngIf="!error" class="row">
  <div class="col-xs-12">
    <div class="accordion">
      <app-challenge-item
        *ngFor="let challengeEl of paginatedChallenges"
        [challenge]="challengeEl"
      ></app-challenge-item>
    </div>
  </div>
</div>

<nav *ngIf="!error">
  <ul class="pagination justify-content-center">
    <!-- HTML created in class file. Will be inserted once component is initialized. -->
  </ul>
</nav>

<div
  *ngIf="fetchingChallenges"
  class="spinner-border text-dark"
  role="status"
></div>
